# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

# Dependency directories
node_modules

# dotenv environment variables file
.env

# Compiled diretories
dist
build/

# config
ormconfig.ts

# Etc
.idea/
.vscode/
tmp/
temp/