# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

# Dependency directories
node_modules

# dotenv environment variables file
.env
cert.pem
key.pem

# Compiled diretories
dist
build/

# Etc
.idea/
.vscode/
tmp/
temp/